<!DOCTYPE html>
<html>
<head>
	<title>Miestai</title>
	<meta charset="utf-8">
</head>
<body>
	<table>
		<tr th:each="lst_upes_gyventojai : ${lst_upiu_gyventojai}">
			<td th:text="${lst_upes_gyventojai[0]}"></td>
			<td th:text="${lst_upes_gyventojai[1]}"></td>
			<td th:text="${lst_upes_gyventojai[2]}"></td>
			<td th:text="${lst_upes_gyventojai[3]}"></td>			
		</tr>
	</table>
	<div class = form>	
		<form id="gyventoju_skaicius-forma" method="POST" action="">
				<label for="gyv_sk">Gyventojų skaičius</label>
				<input name="gyvena_daugiau_negu" id="gyv_sk" type="text">
				<input type="submit" name="ieskoti" class="frm_button" value="Ieškoti">	
		</form>
	</div>		
</body>
</html>